<p-toast></p-toast>
<div class="container-fluid">
  <p-table #dt1 [value]="departments" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [(first)]="first"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [rowsPerPageOptions]="[10,25,50]"
           [globalFilterFields]="['name','createdBy','createdDate','modifiedBy','modifiedDate','status','description','phone','enterprise']"
           locale="es">
    <ng-template pTemplate="caption">
      <div class="table-header">
        Departments
        <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                       placeholder="Global Search"
                       class="p-inputtext p-component p-element"/>
           </span>
        <span class="p-input-icon-left">
            <p-button (click)="showDialog()" icon="pi pi-plus" label="Create Department"></p-button>
        </span>

      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Name
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="description">
          description
          <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="phone">
          Phone
          <p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th pSortableColumn="status">
          Status
          <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pSortableColumn="enterprise">
          Enterprise
          <p-sortIcon field="enterprise"></p-sortIcon>
        </th>
        <th pSortableColumn="createdBy">
          Created By
          <p-sortIcon field="createdBy"></p-sortIcon>
        </th>
        <th pSortableColumn="createdDate">
          Created Date
          <p-sortIcon field="createdDate"></p-sortIcon>
        </th>
        <th pSortableColumn="modifiedBy">
          Modified By
          <p-sortIcon field="modifiedBy"></p-sortIcon>
        </th>
        <th pSortableColumn="modifiedDate">
          Modified Date
          <p-sortIcon field="modifiedDate"></p-sortIcon>
        </th>
        <th>
          Edit
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-department>
      <tr>
        <td>{{department.name}}</td>
        <td>{{department.description}}</td>
        <td>{{department.phone}}</td>
        <td>{{department.status ? 'enable' : 'disable'}}</td>
        <td>{{department.createdBy}}</td>
        <td>{{department.enterprise.name}}</td>
        <td>{{department.createdDate}}</td>
        <td>{{department.modifiedBy}}</td>
        <td>{{department.modifiedDate}}</td>
        <td>
          <p-button (click)="showDialogEdit(department)" icon="pi pi-pencil" label="Edit"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog header="{{title}}" [(visible)]="display">
    <app-department [department]="department" [action]="action" (success)="createOrDepartments($event)">
    </app-department>
  </p-dialog>
</div>
